<section data-ng-controller="PressbooksController" data-ng-init="find()">
  <div class="page-header">
    <h1>My pressbooks</h1>
  </div>
  <div class="list-group">
    <div data-ng-repeat="pressbook in pressbooks" class="list-group-item">

      <img class="pull-left" data-ng-src="{{getImageLink(pressbook)}}" style="margin-right:20px;width:237px;">

      <div class="pull-right">
        <a class="btn btn-primary" data-ng-click="edit(pressbook);">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove(pressbook);">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>

      <h4 class="list-group-item-heading">
        Placeholder 1 (Ex: Title): {{pressbook.placeholder1}}
      </h4>
      <h4 class="list-group-item-heading">
        Placeholder 2 (Ex: Subtitle): {{pressbook.placeholder2}}
      </h4>
      <h4 class="list-group-item-heading">
        Placeholder 3 (Ex: Source): {{pressbook.placeholder3}}
      </h4>
      <h4 class="list-group-item-heading">
        Placeholder 4 (Ex: Description): {{pressbook.placeholder4}}
      </h4>

      <div ng-show="pressbook.edit">
        <br>
        <form name="pressbookForm" class="" data-ng-submit="update(pressbook, Form.$valid)" novalidate>
          <fieldset>
            <div class="form-group">
              <label class="control-label" for="placeholder1">Placeholder 1 (Ex: Title)</label>
              <div class="controls" mass-autocomplete>
                <input name="placeholder1" type="text" data-ng-model="placeholder1.value" mass-autocomplete-item="acPlaceholder1" id="placeholder1" class="form-control" placeholder="Placeholder 1, Ex: Title">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="placeholder2">Placeholder 2 (Ex: Subtitle)</label>
              <div class="controls" mass-autocomplete>
                <input name="placeholder2" type="text" data-ng-model="placeholder2.value" mass-autocomplete-item="acPlaceholder2" id="placeholder2" class="form-control" placeholder="Placeholder 2, Ex: Subtitle">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="placeholder3">Placeholder 3 (Ex: Source)</label>
              <div class="controls" mass-autocomplete>
                <input name="placeholder3" type="text" data-ng-model="placeholder3.value" mass-autocomplete-item="acPlaceholder3" id="placeholder3" class="form-control" placeholder="Placeholder 3, Ex: Source">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="placeholder4">Placeholder 4 (Ex: Description)</label>
              <div class="controls">
                <textarea name="placeholder4" data-ng-model="placeholder4.value" id="placeholder4" class="form-control" placeholder="Placeholder 4, Ex: Description">
                </textarea>
              </div>
            </div>
            <div class="form-group">
              <input type="submit" value="Update" class="btn btn-default">
            </div>
            <div data-ng-show="error" class="text-danger">
              <strong data-ng-bind="error"></strong>
            </div>
          </fieldset>
        </form>
      </div>

      <small class="list-group-item-text">
        Added on
        <span data-ng-bind="pressbook.created | date:'mediumDate'"></span>
        from type: {{getType(pressbook)}}
      </small>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="pressbooks.$resolved && !pressbooks.length">
    No pressbook items yet.
    <br>
    <br>Go to your <a href="/#!/images">images to add some</a>.
    <br>Or go to your <a href="/#!/pins">pins</a>.
  </div>
</section>
