<section data-ng-controller="PressbooksController" data-ng-init="find()">
  <div class="page-header">
    <h1>My pressbooks</h1>
  </div>
  <div class="list-group">
    <div data-ng-repeat="pressbook in pressbooks" class="list-group-item">

      <img class="pull-left" data-ng-src="{{getImageLink(pressbook)}}" style="margin-right:20px;width:237px;">

      <div class="pull-right">
        <a class="btn btn-primary" data-ng-click="edit(pressbook);">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove(pressbook);">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>

      <h4 class="list-group-item-heading">
        Name: {{pressbook.title}}
      </h4>
      <h4 class="list-group-item-heading">
        Description: {{pressbook.description}}
      </h4>

      <div ng-show="pressbook.edit">
        <br>
        <form name="pressbookForm" class="" data-ng-submit="update(pressbook, Form.$valid)" novalidate>
          <fieldset>
            <div class="form-group" ng-class="{ 'has-error' : submitted && pressbookForm.title.$invalid}">
              <label class="control-label" for="title">Title</label>
              <div class="controls">
                <input name="title" type="text" data-ng-model="pressbookTempo.title" id="title" class="form-control" placeholder="Title" required>
              </div>
              <div ng-show="submitted && pressbookForm.title.$invalid" class="help-block">
                <p ng-show="pressbookForm.title.$error.required" class="text-danger">Title is required</p>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : submitted && pressbookForm.description.$invalid}">
              <label class="control-label" for="description">Description</label>
              <div class="controls">
                <input name="description" type="text" data-ng-model="pressbookTempo.description" id="description" class="form-control" placeholder="Description" required>
              </div>
              <div ng-show="submitted && pressbookForm.description.$invalid" class="help-block">
                <p ng-show="pressbookForm.description.$error.required" class="text-danger">Description is required</p>
              </div>
            </div>
            <div class="form-group">
              <input type="submit" value="Update" class="btn btn-default">
            </div>
            <div data-ng-show="error" class="text-danger">
              <strong data-ng-bind="error"></strong>
            </div>
          </fieldset>
        </form>
      </div>

      <small class="list-group-item-text">
        Added on
        <span data-ng-bind="pressbook.created | date:'mediumDate'"></span>
        from type: {{getType(pressbook)}}
      </small>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="pressbooks.$resolved && !pressbooks.length">
    No pressbook items yet.
    <br>
    <br>Go to your <a href="/#!/images">images to add some</a>.
    <br>Or go to your <a href="/#!/pins">pins</a>.
  </div>
</section>
