<section data-ng-controller="PressbooksController" data-ng-init="findOne()">
  <div class="page-header">
    <h4 class="list-group-item-heading">
      Placeholder 1 (Ex: Title): {{pressbook.placeholder1}}
    </h4>
    <h4 class="list-group-item-heading">
      Placeholder 2 (Ex: Subtitle): {{pressbook.placeholder2}}
    </h4>
    <h4 class="list-group-item-heading">
      Placeholder 3 (Ex: Source): {{pressbook.placeholder3}}
    </h4>
    <h4 class="list-group-item-heading">
      Placeholder 4 (Ex: Description): {{pressbook.placeholder4}}
    </h4>
  </div>

  <small>
    <em class="text-muted">
      Uploaded on
      <span data-ng-bind="pressbook.created | date:'mediumDate'"></span>
    </em>
  </small>
  <div class="clearfix"></div>
  <div style="text-align:center;">
    <img data-ng-src="{{getImageLink(pressbook)}}" style="margin-top:40px;max-width:100%;">

  </div>

  <div class="page-header">
    <h1>Generare Pressbooks</h1>
  </div>

  <div class="form-group">
    <label class="control-label" for="placeholder4">Edit the text to display on every page, an example can be:</label>
    <br>
    <em>&#60;strong&#62;Design by XXX for %%placeholder1%%&#60;/strong&#62;<br>
    Collection: %%placeholder2%%<br>
    Source: %%placeholder3%%<br>
    Description: %%placeholder4%%<br><br>
    %%sourceUrl%%<br>
    <em>
    <br>
    <div class="controls">
      <textarea name="placeholder4" rows="7" id="placeholder4" class="form-control" data-ng-keyup="updateText()" data-ng-model="textTemplate" placeholder="Enter here the text used to generate your pressbook, see the above text for as an example"></textarea>
    </div>
  </div>

  <a class="btn btn-primary" ng-href="/pressbooks/generate/{{pressbook._id}}?text={{textTemplateEncoded}}" target="_blank">
    Generare Pressbook
  </a>
  <br>
  <br>
  <br>

</section>
