<section data-ng-controller="PinsController" data-ng-init="find()">
  <div class="page-header">
    <h1>Pins</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="pin in pins" data-ng-href="#!/pins/{{pin._id}}" class="list-group-item">
      <img class="pull-left" data-ng-src="{{pin.imageLink}}" style="margin-right:20px;">
      <h4 class="list-group-item-heading">
        Board: {{pin.boardName}}
        <small>
          Acount: {{pin.accountName}}
        </small>
      </h4>
      <h4 class="list-group-item-heading">
        {{pin.description}}
      </h4>
      <small class="list-group-item-text">
        Created on
        <span data-ng-bind="pin.created | date:'mediumDate'"></span>
      </small>
      <div class="clearfix"></div>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="pins.$resolved && !pins.length">
    No pins yet, why don't you <a href="/#!/pins/create">extract some</a>?
  </div>
</section>
