<section data-ng-controller="PinsController" data-ng-init="find()">
  <div class="page-header">
    <h1>Pins</h1>
  </div>
  <div class="list-group">
    <div data-ng-repeat="pin in pins" class="list-group-item">

      <img class="pull-left" data-ng-src="{{pin.imageLink}}" style="margin-right:20px;">

      <div class="pull-right">
        <a class="btn btn-primary" href="/#!/pins/{{pin._id}}">
          <i class="glyphicon glyphicon-eye-open"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove(pin);">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>

      <h4 class="list-group-item-heading">
        Board: {{pin.boardName}}
        <small>
          Acount: {{pin.accountName}}
        </small>
      </h4>
      <h4 class="list-group-item-heading">
        {{pin.description}}
      </h4>
      <small class="list-group-item-text">
        Extracted on
        <span data-ng-bind="pin.created | date:'mediumDate'"></span>
      </small>
      <br>
      <br>
      <div>
        <button class="btn" ng-click="addToPressbook(pin)"
        ng-class="{'btn-success': !pin.isInPressbook, 'btn-warning': pin.isInPressbook}">
        {{pin.isInPressbook ? 'Remove from pressbook' : 'Add to pressbook'}}</button>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="pins.$resolved && !pins.length">
    No pins yet, why don't you <a href="/#!/pins/create">extract some</a>?
  </div>
</section>
