<section data-ng-controller="PinsController" data-ng-init="findOne()">
  <div class="page-header">
    <h4 class="list-group-item-heading">
      Board: {{pin.boardName}}
      <small>
        Account name: {{pin.accountName}}
      </small>
      <br>
      <br>
      Description: {{pin.description}}
    </h4>
  </div>
  <div class="pull-right">
    <a class="btn btn-primary" data-ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Extracted on
      <span data-ng-bind="pin.created | date:'mediumDate'"></span>
    </em>
  </small>
  <div class="clearfix"></div>
  <div style="text-align:center;">
    <img ng-src="{{getBigImageLink(pin)}}" style="margin-top:40px;margin-bottom:40px;max-width:100%;">
  </div>
</section>
