<section data-ng-controller="ImagesController" data-ng-init="findOne()">
  <div class="page-header">
    <h4 class="list-group-item-heading">
      Name: {{image.name}}
      <small>
        size: {{convertSize(image)}}, dimensions: {{image.width}}px x {{image.height}}px
      </small>
    </h4>
  </div>
  <div class="pull-right">
    <a class="btn btn-primary" data-ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Uploaded on
      <span data-ng-bind="image.created | date:'mediumDate'"></span>
    </em>
  </small>
  <div class="clearfix"></div>
  <div style="text-align:center;">
    <img data-ng-src="/uploads/{{image.filename}}" style="margin-top:40px;margin-bottom:40px;max-width:100%;">
  </div>
</section>
